<div class="tutto">
    <div class="navbar2">
        <div class="navbarcentrale2">
            <a [routerLink]='[{ outlets: { naviga: ["orario"] } }]' class="opzione">
                    <div>ORARIO LEZIONI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["piano"] } }]' class="opzione">
                    <div>PIANO STUDI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["sostenuti"] } }]' class="opzione">
                <div>ESAMI SOSTENUTI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["mancanti"] } }]' class="opzione">
                <div>ESAMI MANCANTI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["avvisi"] } }]' class="opzione">
                <div>AVVISI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["contatti"] } }]' class="opzione">
                <div>CONTATTI</div>
            </a>
            <a [routerLink]='[{ outlets: { naviga: ["aule"] } }]' class="opzione">
                <div>AULE</div>
            </a>
            <a (click)="mancantiSostenuti()" class="opzione">
                <div>LOGOUT</div>
            </a>
        </div>
    </div>
    <div class="sotto">
        <div class="contenuto">
            <div class="sx">
                <div class="ciaocnt">
                    <div class="ciao">
                        <p class="testo">Benvenuto!</p>
                        <p class="testo">Nome Cognome</p>
                    </div>
                </div>
                <div class="immagineprofilocnt">
                    <div class="sopraprofilo">
                        <div class="riassunto">
                            <p class="scuola grande blu">Riassunto studente</p>
                            <p class="scuola blu">Indirizzo:<br>Nome scuola di appartenenza</p>
                        </div>
                        <div class="fotoprofilo">
                            <img src="/assets/Img/mappa0.jpg" class="faccia">
                        </div>
                    </div>
                    <div class="sottoprofilo">
                        <div class="colonnauno">
                            <p class="blu">Anno Accademico</p>
                            <p class="blu">anno</p>
                        </div>
                        <div class="colonnadue">
                            <p class="blu">Esami sostenuti</p>
                            <p class="blu">numero</p>
                        </div>
                        <div class="colonnatre">
                            <p class="blu">Crediti Totali</p>
                            <p class="blu">crediti</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dx">
                <div class="immaginesfondo">
                    <div class="sfondo">
                        <router-outlet name="naviga" class="contienirouter">
                        </router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>