/*Inizio del primo header*/
.header-principale {
    padding    : 20px;
    display    : flex;
    align-items: center;
    margin     : 0 200px;
}

.logo-accademia {
    width : 145px;
    height: 68px;
}

.spazio {
    flex-grow: 1;
}

.cerca {
    display    : flex;
    align-items: center;
}

.form-control {
    height: 35px;
    width : 150px;
    margin: 0 5px 0 0;
}

.bottone {
    height: 35px;
}

/*Inizio del secondo header*/

.header-secondario {
    background-color: #cb5758;
    height          : 40px;
    width: auto;
    padding: 0px !important;
    margin          : 0 220px;
    border-radius   : 6px;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.icona {
    color       : white;
    padding-left: 10px;
}

.naviga {
    width           : 14.3%;
    height          : 100%;
    background-color: #cb5758;
    border-radius   : 6px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-decoration : none;
    color           : white;
    font-size       : medium;
}

.naviga:hover {
    background-color: #ae3739;
}

.naviga:focus {
    background-color: #ae3739;
    outline: none;
}

.opzione {
    height: 50px;
}

/*Media query della sezione header*/
@media screen and (max-width: 1280px) {
    .header-principale {
        margin: 0 100px;
    }

    .header-secondario {
        margin: 0 120px;
    }
}

@media screen and (max-width: 960px) {
    .header-principale {
        margin: auto;
    }
    .header-secondario {
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
.header-principale {
    padding: 20px 10px;
}

    .cerca {
        flex-direction: column;
        align-items: flex-end;
    }

    .form-control {
        margin: 0 0 5px 0 !important;
        width: 110px;
    }
}

/*parte centrale*/

.sfondo {
    background-color: khaki;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.main {
    background-color: #a30003;
    margin: 0 220px;
    display: flex;
}

@media screen and (max-width: 1280px) {
    .main {
        margin: 0 120px;
    }
}

@media screen and (max-width: 960px) {
    .main {
        margin: auto;
    }
}

/*blocco a sinistra - riassunto dello studente*/

.riassunto {
    background-color: #ECCFC3;
    height: 100%;
    width: 320px;
    border-radius: 6px;
}

.blocco-alto {
    height: 30px;
    width: 320px;
    text-align: center;
    font-size: large;
}

.blocco-medio {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.indirizzo-contenitore {
    width: 160px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indirizzo {
    width: 130px;
}

.immagine-profilo {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.blocco-sotto {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.blocco-sotto-uno , .blocco-sotto-due , .blocco-sotto-tre {
    width: 106.6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*blocco a destra - varie sezioni*/

.nucleo {
    background-color: rgb(79, 30, 79);
    height: 600px;
    width: 1000px;
    background-image: url(../../assets/Img/AccademiaAlbertina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1775px) {
    .nucleo {
        width: 670px;
    }
}

@media screen and (max-width: 1445px) {
    .nucleo {
        width: 340px;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .riassunto {
        margin-bottom: 50px;
    }
    .nucleo {
        padding: 10px 0;
    }
}
