<div class="contenitore">
    <div class="bordo">
        <div class="sx">
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Tecniche di modellazione digitale</div>Voto: 30/30<br>Sostenuto il: 23/02/2019<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Tecniche di modellazione digitale</div>Voto: 30/30<br>Sostenuto il: 23/02/2019<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Progettazione multimediale</div>Voto: 26/30<br>Sostenuto il: 14/09/2018<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Applicazioni digitali</div>Voto: 30/30<br>Sostenuto il: 21/06/2018<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box2">
                <div class="grassetto">
                    Inserisci esame
                </div>
            </div>
        </div>
        <div class="dx">
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Tecniche di modellazione digitale</div>Voto: 30/30<br>Sostenuto il: 23/02/2019<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Sistemi interattivi 1</div>Voto: 30/30<br>Sostenuto il: 26/06/2019<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Regia</div>Voto: 27/30<br>Sostenuto il: 28/06/2019<br>Crediti: 8
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="spazio grassetto">Esame sostenuto:
                    </div>
                </div>
                <div class="modifica2">
                    <div class="spazio2"><div class="grassetto">Web design</div>Voto: 24/30<br>Sostenuto il: 28/02/2018<br>Crediti: 8
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>