
  <div class="contenitore">
    <div class="blocco">
      <div class="piano">Piano Terra</div>
      <img type="button" (click)="popup('1')" src="../assets/Img/piano0.png" class="immagine">
      <div class="download">Download</div>
    </div>
    <div class="blocco">
      <div class="piano">Piano Primo</div>
      <img type="button" (click)="popup('2')" src="../assets/Img/piano1.png" class="immagine">
      <div class="download">Download</div>
    </div>
    <div class="blocco">
      <div class="piano">Piano Secondo</div>
      <img type="button" (click)="popup('3')" src="../assets/Img/piano2.png" class="immagine">
      <div class="download">Download</div>
    </div>
    <div class="blocco">
      <div class="piano">Piano Terzo</div>
      <img type="button" (click)="popup('4')" src="../assets/Img/piano3.png" class="immagine">
      <div class="download">Download</div>
    </div>
    <div class="blocco">
      <div class="piano">Piano Quarto</div>
      <img type="button" (click)="popup('5')" src="../assets/Img/piano4.png" class="immagine">
      <div class="download">Download</div>
    </div>
  </div>