<div class="contenitore">
    <div class="bordo">
        <div class="sx">
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Tecniche di modellazione digitale</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Lun-Mer<br>14-18
                    </div>
                    <div class="sopra">S34</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Tecnologia dei materiali</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Mar<br>09-13
                    </div>
                    <div class="sopra">P33</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Regia II</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Gio<br>09:30-13:30<br>Ven<br>15:30-17:30
                    </div>
                    <div class="sopra">S34</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Inglese</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Mar<br>14-18
                    </div>
                    <div class="sopra">Magna</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Metodologia progettuale della comu. visiva</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Gio<br>9-13<br>14-18
                    </div>
                    <div class="sopra">A11</div>
                </div>
            </div>
        </div>
        <div class="dx">
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Sistemi interattivi II</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Lun-Mer<br>09-14
                    </div>
                    <div class="sopra">A31</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Web Design II</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Lun<br>14-18
                    </div>
                    <div class="sopra">P33</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Regia II</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Sab<br>09-13
                    </div>
                    <div class="sopra">S34</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Inglese</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Mar<br>14-18
                    </div>
                    <div class="sopra">A15</div>
                </div>
            </div>
            <div class="box">
                <div class="modifica">
                    <div class="sopra bordo_dx grassetto">Corso</div>
                    <div class="sopra bordo_dx grassetto">Giorno</div>
                    <div class="sopra grassetto">Aula</div>
                </div>
                <div class="modifica2">
                    <div class="sopra bordo_dx">
                        <div class="piu_piccolo">Linguaggi e tecn. dell' audiovisivo</div>
                    </div>
                    <div class="sopra bordo_dx">
                        Mer<br>9-13
                    </div>
                    <div class="sopra">P30</div>
                </div>
            </div>
        </div>
    </div>
</div>