<div class="flusso">
    <ng-container *ngFor="let elements of matricole">
        <ng-container *ngIf="elements.matricola == matricolaInput">
            <ng-container *ngFor="let corsiSeguiti of elements.corsiSeguiti">
                <div class="flusso">
                    <div class="blocco">
                        <div class="sopra">
                            <div class="uno">
                                <div class="centro">Corso:</div>
                            </div>
                            <div class="due">
                                <div class="centro">Giorno:</div>
                            </div>
                            <div class="tre">
                                <div class="centro">Aula:</div>
                            </div>
                        </div>
                        <div class="sotto">
                            <div class="uno">
                                <div class="centro">{{corsiSeguiti.nome}}</div>
                                <!--<div class="centro">{{elements.matricola}}</div>-->
                            </div>
                            <div class="due">
                                <div class="centro">{{corsiSeguiti.lezione}}<br>{{corsiSeguiti.orario}}</div>
                                <!--<div class="centro" *ngFor="let corsiSeguiti of elements.corsiSeguiti">{{corsiSeguiti.nome}}</div>-->
                            </div>
                            <div class="tre">
                                <div class="centro">{{corsiSeguiti.aula}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<!--<ng-container *ngFor="let elements of utenti">
        
    <div *ngIf="elements.matricola == '11111q'; else nascondi">
        <div class="blocco">{{elements.matricola}} </div>
    </div>
    <ng-template #nascondi><div class="blocco"> miao</div></ng-template>
</ng-container>-->