<div class="padre">
<div class="sotto">
    <div class="contenuto">
        <div class="sx">
            <div class="ciaocnt">
                <div class="ciao">
                    <p class="testo">Benvenuto!</p>
                    <p class="testo">Nome Cognome</p>
                </div>
            </div>
            <div class="immagineprofilocnt">
                <div class="sopraprofilo">
                    <div class="riassunto">
                        <p class="scuola grande blu">Riassunto studente</p>
                        <p class="scuola blu">Indirizzo:<br>Nome scuola di appartenenza</p>
                    </div>
                    <div class="fotoprofilo">
                        <img src="/assets/Img/mappa0.jpg" class="faccia">
                    </div>
                </div>
                <div class="sottoprofilo">
                    <div class="colonnauno">
                        <p class="blu">Anno Accademico</p>
                        <p class="blu">anno</p>
                    </div>
                    <div class="colonnadue">
                        <p class="blu">Esami sostenuti</p>
                        <p class="blu">numero</p>
                    </div>
                    <div class="colonnatre">
                        <p class="blu">Crediti Totali</p>
                        <p class="blu">crediti</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dx">
            <div class="immaginesfondo">
                <img src="/assets/Img/Accademia Albertina.jpg" class="sfondo">
            </div>
        </div>
    </div>
</div>
</div>