<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="371" height="496" viewBox="0 0 371 496">
    <defs>
      <clipPath id="clip-path">
        <rect width="21" height="487" fill="none"/>
      </clipPath>
    </defs>
    <text id="Orario_festivo_biblioteca_" data-name="Orario festivo biblioteca " transform="translate(32 17)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Orario festivo biblioteca </tspan></text>
    <text id="Prof._Villa_Applicazioni_digitali_T_" data-name="Prof. Villa – Applicazioni digitali [T] " transform="translate(32 53)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Villa – Applicazioni digitali [T] </tspan></text>
    <text id="Prof._Villa_Web_design_T_" data-name="Prof. Villa – Web design [T] " transform="translate(33 90)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Villa – Web design [T] </tspan></text>
    <text id="Prof._Girardi_Tecniche_per_la_pittura_T_B_" data-name="Prof. Girardi – Tecniche per la pittura [T/B] " transform="translate(32 126)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Girardi – Tecniche per la pittura [T/B] </tspan></text>
    <text id="Prof._Girardi_Disegno_T_" data-name="Prof. Girardi – Disegno [T] " transform="translate(32 162)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Girardi – Disegno [T] </tspan></text>
    <text id="Prof.ssa_Contino_Progettazione_grafica_B_" data-name="Prof.ssa Contino – Progettazione grafica [B] " transform="translate(30 199)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof.ssa Contino – Progettazione grafica [B] </tspan></text>
    <text id="Prof.ssa_Contino_Graphic_design_T_B_" data-name="Prof.ssa Contino – Graphic design [T/B] " transform="translate(30 235)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof.ssa Contino – Graphic design [T/B] </tspan></text>
    <text id="Prof._Ciliento_Beni_culturali_T_B_" data-name="Prof. Ciliento – Beni culturali [T/B] " transform="translate(30 272)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Ciliento – Beni culturali [T/B] </tspan></text>
    <g id="Repeat_Grid_12" data-name="Repeat Grid 12" transform="translate(0 9)" clip-path="url(#clip-path)">
      <g id="Group_1" data-name="Group 1" transform="translate(-797 -410)">
        <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(797 410)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-2" data-name="Ellipse 2" transform="translate(797 445)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-3" data-name="Ellipse 2" transform="translate(797 479)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-4" data-name="Ellipse 2" transform="translate(797 518)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-5" data-name="Ellipse 2" transform="translate(797 554)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-6" data-name="Ellipse 2" transform="translate(797 590)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-7" data-name="Ellipse 2" transform="translate(797 662)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-8" data-name="Ellipse 2" transform="translate(797 626)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-9" data-name="Ellipse 2" transform="translate(797 734)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-10" data-name="Ellipse 2" transform="translate(797 698)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-11" data-name="Ellipse 2" transform="translate(797 808)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-12" data-name="Ellipse 2" transform="translate(797 770)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-13" data-name="Ellipse 2" transform="translate(797 844)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
        <g id="Ellipse_2-14" data-name="Ellipse 2" transform="translate(797 880)" fill="#fff" stroke="#db4040" stroke-width="1">
          <circle cx="5" cy="5" r="5" stroke="none"/>
          <circle cx="5" cy="5" r="4.5" fill="none"/>
        </g>
      </g>
    </g>
    <text id="Prof._Belgioioso_Anatomia_dell_immagine_B_" data-name="Prof. Belgioioso – Anatomia dell’immagine [B] " transform="translate(30 308)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Belgioioso – Anatomia dell’immagine [B] </tspan></text>
    <text id="Prof._Belgioioso_Illustrazione_scientifica_B_" data-name="Prof. Belgioioso – Illustrazione scientifica [B] " transform="translate(30 344)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Belgioioso – Illustrazione scientifica [B] </tspan></text>
    <text id="Prof._Belgioioso_Anatomia_artistica_T_B_" data-name="Prof. Belgioioso – Anatomia artistica [T/B] " transform="translate(32 381)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof. Belgioioso – Anatomia artistica [T/B] </tspan></text>
    <text id="Prof.ssa_Baiocchi_Sound_design_T_" data-name="Prof.ssa Baiocchi – Sound design [T] " transform="translate(32 417)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof.ssa Baiocchi – Sound design [T] </tspan></text>
    <text id="Prof.ssa_Fanti_Anatomia_artistica_T_B_" data-name="Prof.ssa Fanti – Anatomia artistica [T/B] " transform="translate(32 453)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof.ssa Fanti – Anatomia artistica [T/B] </tspan></text>
    <text id="Prof.ssa_Fanti_Allestimento_spazi_espositivi_B_" data-name="Prof.ssa Fanti – Allestimento spazi espositivi [B] " transform="translate(32 490)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-width="1" font-size="17" font-family="Calibri-Bold, Calibri" font-weight="700"><tspan x="0" y="0">Prof.ssa Fanti – Allestimento spazi espositivi [B] </tspan></text>
  </svg>
  
