<main class="main">
    <form class="form" [formGroup]="form">
        <img src="../assets/Img/LogoAlbertinaVettoriale-bianco-header-2.png">
        <p class="login">Login</p>
        <div class="form-group">
            <label for="exampleInputEmail1">Numero di matricola</label>
            <input type="text" placeholder="12345A" class="form-control" formControlName="matricola" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" formControlName="password" required>
        </div>
        <button mat-raised-button class="bottone" [disabled]="form.invalid" (click)="entra()">Entra</button>
    </form>
</main>