.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.form{
    width: 290px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login{
    margin: 20px auto;
    font-size: xx-large;
    color: white;
}

.form-group{
    width: 80%;
    margin: 10px auto;
}

.bottone{
    width: 25%;
    margin: 40px 10% auto auto;
}



.header-principale {
    padding: 20px;
    display: flex;
    margin: 0 200px 0 200px;
}

.logo-accademia{
    width: 145px;
    height: 68px;
}

.spazio{
    flex-grow: 1;
}




.tuttoloschermo {
    width           : 100%;
    height          : 100%;
    display         : flex;
    flex-direction  : column;
    background-color: black;
}

.navbar {
    background-color: #a30003;
    height          : 150px;
    width           : 100%;
}

.navbarcentrale1 {
    width           : 75%;
    height          : 100%;
    background-color: #a30003;
    margin          : auto;
    display         : flex;
}

.logoprincipale {
    margin: auto 0;
}

.logoprincipale:hover {
    opacity: 75%;
}

.spacer {
    flex-grow: 1;
}

.cerca {
    margin: auto 0;
}

.form__input {
    font-family     : 'Roboto', sans-serif;
    color           : #333;
    font-size       : 14px;
    padding         : 15px 10px;
    border-radius   : 20px;
    background-color: rgb(255, 255, 255);
    border          : none;
    width           : 150px;
    height          : 10px;
    display         : block;
    border-bottom   : 2px solid transparent;
    transition      : all 0.3s;
}

.metasotto {
    width           : 100%;
    background-color: #a30003;
}

.contenitorino {
    width           : 100%;
    height          : 100%;
    background-color: #a30003;
}