<div class="fullscreen">
    <div class="mappa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2817.9013817022405!2d7.687308415969578!3d45.067511579098195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d64e6d3ca0d%3A0xeeb14228c8e7a5a1!2sAccademia%20Albertina%20di%20Belle%20Arti!5e0!3m2!1sit!2sit!4v1587314694993!5m2!1sit!2sit"
            width="100%" height="300px" frameborder="2" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
        </iframe>
    </div>
    <div class="contatti">
        <div class="sx">
            <div class="blocco">
                <div class="titoloPrincipale">Accademia</div>
                <div class="titolo">Via Accademia Albertina 6 – 10123 Torino</div>
                <div class="titolo">Tel: 011 88 90 20</div>
                <div class="titolo">PEO: <a href="mailto:protocollo@albertina.academy">protocollo@albertina.academy</a>
                </div>
                <div class="titolo">PEC: <a href="accademia.torino@pec.it">accademia.torino@pec.it</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Presidente</div>
                <div class="titolo">Dott.ssa Paola Gribaudo</div>
                <div class="titolo">Ricevimento su appuntamento.</div>
                <div class="titolo">Mail:
                    <a href="mailto:presidente@albertina.academy">presidente@albertina.academy</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Direttore didattico</div>
                <div class="titolo">Prof. Edoardo Di Mauro</div>
                <div class="titolo">Ricevimento su appuntamento</div>
                <div class="titolo"> Mail: <a href="mailto:direttore@albertina.academy">direttore@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Vicedirettore didattico</div>
                <div class="titolo">Prof.ssa Laura Valle</div>
                <div class="titolo">Ricevimento su appuntamento</div>
                <div class="titolo">Mail:
                    <a href="mailto:laura.valle@albertina.academy"> laura.valle@albertina.academy</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Direttore amministrativo</div>
                <div class="titolo">Dott.ssa Paola Spezzaferri</div>
                <div class="titolo">Ricevimento su appuntamento</div>
                <div class="titolo">Mail:
                    <a href="mailto:direttore.amministrativo@albertina.academy">
                        direttore.amministrativo@albertina.academy</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Direttore di ragioneria</div>
                <div class="titolo">Dott.ssa Daniela Coluccio </div>
                <div class="titolo">Ricevimento martedì, mercoledì e giovedì dalle 10.00 alle 12.00, oppure su
                    appuntamento</div>
                <div class="titolo"> Mail:
                    <a href="mailto:direttore.ragioneria@albertina.academy">direttore.ragioneria@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Ufficio logistica, manutenzione e sicurezza</div>
                <div class="titolo">Dott. Alessio Boscolo</div>
                <div class="titolo">Ricevimento da lunedì al venerdì dalle 10.00 alle 12.00, e dalle 14.30 alle
                    15.30, oppure su appuntamento</div>
                <div class="titolo">Mail:
                    <a href="mailto:alessio.boscolo@albertina.academy">alessio.boscolo@albertina.academy</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Ufficio protocollo</div>
                <div class="titolo">Dott.ssa Stefania Bianco</div>
                <div class="titolo">Ricevimento su appuntamento</div>
                <div class="titolo"> Mail:
                    <a href="mailto:protocollo@albertina.academy">protocollo@albertina.academy</a></div>
            </div>
        </div>
        <div class="dx">
            <div class="blocco">
                <div class="titoloPrincipale">Ufficio acquisti</div>
                <div class="titolo">Sig.ra Francesca Grondona</div>
                <div class="titolo">Ricevimento martedì, mercoledì e giovedì dalle 10.00 alle 12.00, oppure su
                    appuntamento</div>
                <div class="titolo"> Mail: <a href="mailto:acquisti@albertina.academy">acquisti@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Ufficio personale</div>
                <div class="titolo">Sig.ra Donatella Dalla Pria, Dott.ssa Annalisa Sponga</div>
                <div class="titolo">Ricevimento dal lunedì al giovedì dalle 9.30 alle 12.00 e dalle 15.00 alle
                    16.00, il venerdì dalle 9.30 alle 13.00, oppure su appuntamento</div>
                <div class="titolo"> Mail: <a href="mailto:personale@albertina.academy">personale@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Segreteria didattica</div>
                <div class="titolo">Sig.ra Tiziana Finotti, Sig.ra Cristina Gueli</div>
                <div class="titolo">Ricevimento: lunedì, venerdì dalle 10.00 alle 12.00, giovedì dalle 12.00 alle
                    13.30</div>
                <div class="titolo">Sportello telefonico: martedì dalle 9.00 alle 10.00, venerdì dalle 13.00 alle
                    14.00</div>
                <div class="titolo"> Mail: <a href="mailto:erasmus@albertina.academy">didattica@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Ufficio Erasmus</div>
                <div class="titolo">Prof. Antonio Musiari</div>
                <div class="titolo"> Mail: <a href="mailto:erasmus@albertina.academy">erasmus@albertina.academy</a>
                </div>
                <div class="titolo">Ricevimento: mercoledì 12.30-14.30, giovedì 13.30-15.30, venerdì 13.30-17.00. Il
                    docente è presente il giovedì</div>
                <div class="titolo">Per maggiori informazioni, visitare la
                    <a href="https://www.albertina.academy/erasmus/"> pagina relativa all'Erasmus </a>
                    nella sezione dedicata agli studenti
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Consulta degli studenti</div>
                <div class="titolo">
                    <a href="https://www.albertina.academy/consulta-degli-studenti/">
                        Pagina Consulta</a>
                </div>
                <div class="titolo"> Mail: <a href="mailto:consulta@albertina.academy">consulta@albertina.academy</a>
                </div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Biblioteca</div>
                <div class="titolo">Orario di apertura:</div>
                <div class="titolo">Dal lunedì al venerdì, dalle 10.00 alle 18.00</div>
                <div class="titolo"> Mail:
                    <a href="mailto:biblioteca@albertina.academy">biblioteca@albertina.academy</a></div>
            </div>
            <div class="blocco">
                <div class="titoloPrincipale">Pinacoteca</div>
                <div class="titolo">Orario di apertura:</div>
                <div class="titolo">Dal lunedì alla domenica dalle 10.00 alle 18.00. Mercoledì chiuso</div>
                <div class="titolo">Sito web: www.pinacotecalbertina.it</div>
                <div class="titolo"> Mail:
                    <a href="mailto:pinacoteca.albertina@coopculture.it">pinacoteca.albertina@coopculture.it</a></div>
            </div>
        </div>
    </div>
</div>